<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Sidebar Elemento 1</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Texto dentro del elemento 1.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sidebar Elemento 2</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Texto dentro del elemento 2.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sidebar Elemento 3</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Texto dentro del elemento 3.</p>
    </a>
  </div>