<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>NAVBAR</p>
    </mat-drawer>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="d-flex w-100 justify-content-between align-items-center">
            <div><span>Preentrega 2 Proyecto Final - Juan Cruz Rodriguez</span></div>
            <div>
                <h4>Bienvenido, {{ (authUser$ | async)?.nombre }}</h4>
            </div>
        </div>
    </mat-toolbar>

    <app-tables></app-tables>

</mat-drawer-container>